.layout {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
    overflow: hidden;
    grid-template-areas: 
        "sidebar header"
        "sidebar main";

        & > header {
            grid-area: header;
        }
        & > nav {
            grid-area: sidebar;
        }
        & > main {
            grid-area: main;
        }
}